*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    /* background-color: aqua; */
}
.navbar{
    width: 1600px;
    /* border: 1px solid black; */
    max-width: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 139px;
    height: 60px;
    margin-top: 16px;
    margin-left: 120px;
}
.navbar ul{
    display: flex;
    gap:32px;
    list-style: none;
    align-items: center;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
.navbar li:hover{
    background-color: bisque;
}
header .btn{
    width: 164px;
    height: 44px;
    margin-right: 120px;
    background-color: #469165;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 24px;
}
#banner{
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
}
#banner .banner-container{
    max-width: 1360px;
    width: 85%;
    /* width: 85%; */
    margin: 0px auto;
    text-align: center;
    padding-bottom: 290px;
    padding-top: 226px;   
}
#banner .banner-container .banner-button{
    font-size: 16px;
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 1000px;
    color: #469165;
    padding:  8px 12px;
    margin-bottom: 16px;
}
#banner .banner-content .first{
  color: #FFFFFF ;
   font-size: 72px;
   font-weight: bold;   
}
#banner .banner-content .second{
    color: #30B868;
    font-size: 72px;
   font-weight: bold;
}
#banner .banner-container .banner-content p{
    color: #ffffff;
    margin-top: 16px;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0%;
}
#banner .banner-container .btn{
    width: 251px;
    height: 52px;
    margin-right: 16px;
    background-color: #469165;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 32px;
}
#banner .banner-container .button{
    width: 198px;
    height: 52px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
}
#notes-sections{
    width: 1600px;
    height: 448px; 
    margin: 0 auto;
    gap: 24px;
    text-align: center;
}
#notes-sections .title{
    width: 1360px;
    height: 152px;
    /* border: 1px solid black; */
    margin: 0 auto;

}
#notes-sections .title h1{
    font-size: 48px;
    font-weight: bold;
}
#notes-sections .title p{
    font: 16px;
    margin-top: 16px;
    color: #627382;
}
#notes-sections .notes{
    /* width: 1360px; */
    /* height:300px ; */
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}
#notes-sections .notes .image{
    width: 60px;
    height: 60px;
   margin: 60px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notes-sections .notes .image img{
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: #eb2a2ac9;
    border-radius: 50%;
    object-fit: contain;
    box-sizing: border-box;
}
.notes-sections{
    width: 322px;
    height: 300px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px;
    border-radius: 8px;
    gap: 16px;
}
#notes-sections .notes .description h2{
    font-size: 24px;
    margin-top: 16px;
}
#notes-sections .notes .description p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 21px;
}
#brain-section{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}
#brain-section .brain{
    display: flex;
    margin-top: 240px;
    gap: 60px;
    justify-content: center;
    margin-bottom: 120px;
}
#brain-section .brain .brain-image img{
    width: 600px;
    height: 600px;
}
.brain-container .brain-captions .brain-title{
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}
#brain-section .brain-container h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
#brain-section .brain-container .contents{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
#brain-section .brain .points ul li{
    list-style: none;
    margin-bottom: 16px;
}
#brain-section .brain .brain-container{
    margin-top: 102px;
}
#brain-section .points img{
    width: 16.25px;
    height: 16.25px;
}